img {
  box-shadow: 0 0 0 1px;
  height: 200px;
  width: 200px;
}

/* data-object-fit */
img[data-object-fit="fill"] {
  object-fit: fill;
}

img[data-object-fit="contain"] {
  object-fit: contain;
}

img[data-object-fit="cover"] {
  object-fit: cover;
}

img[data-object-fit="none"] {
  object-fit: none;
}

img[data-object-fit="scale-down"] {
  object-fit: scale-down;
}	

/* object fit classes */
.object-fit_fill { 
  object-fit: fill 
}

.object-fit_contain { 
  object-fit: contain 
}

.object-fit_cover { 
  object-fit: cover 
 }
 
.object-fit_none { 
  object-fit: none 
 }
  
.object-fit_scale-down { 
  object-fit: scale-down 
 }	